networks:
  app-switch:
    driver: bridge

services:
  es-cluster:
    image: "docker.io/elasticsearch:9.2.2"
    container_name: es-cluster
    environment:
      - cluster.name=es-cluster
      - node.name=es-cluster
      - discovery.seed_hosts=es-node2
      - cluster.initial_master_nodes=es-cluster,es-node2
      - xpack.security.enabled=false
      - bootstrap.memory_lock=true
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
    volumes:
      - esdata1:/usr/share/elasticsearch/data
    networks:
      - app-switch
  es-node2:
    image: "docker.io/elasticsearch:9.2.2"
    container_name: es-node2
    environment:
      - cluster.name=es-cluster
      - node.name=es-node2
      - discovery.seed_hosts=es-cluster
      - cluster.initial_master_nodes=es-cluster,es-node2
      - xpack.security.enabled=false
      - bootstrap.memory_lock=true
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9201:9200"
    volumes:
      - esdata2:/usr/share/elasticsearch/data
    networks:
      - app-switch
  backend:
    build: .
    container_name: express_backend
    depends_on:
      - es-cluster
      - es-node2
    environment:
      - ES_CLUSTER=http://es-cluster:9200
      - INDEX_NAME=wordsearch
    networks:
      - app-switch
    ports:
      - "5000:5000"

volumes:
  esdata1:
  esdata2:
